/* `Buttons */
.k-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.k-btn-primary {
    background-color: var(--primary);
    color: #fff;
}
.k-btn-primary:hover {
    background-color: var(--primary-h);
}

.k-outline-primary-white{
    border: solid var(--primary);
    background-color: var(--white);
    color: var(--primary);
    cursor: pointer;
    transition: 0.5s;
}
.k-outline-primary-white:hover{
    background-color: var(--primary);
    color: var(--white);
}

.k-btn-border-secondary-white {
    padding: 0.5rem 1rem;
    border: solid var(--secondary);
    border-radius: 0.375rem ;
    background-color: var(--white);
    color: var(--secondary);
    cursor: pointer;
    text-align: center;
}
.k-btn-border-secondary-white:hover {
    transition: 0.5s;
    background-color: var(--secondary);
    color: var(--white);
}
/* Card */
.k-card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--white);
    box-shadow: 0 0 10p rgba(0, 0, 0, 0.05);
}